name: Release

on:
  push:
    schedule:
    - cron: '0 21 * * *'
    branches:
      - master

jobs:
  make:
   runs-on: ubuntu-latest
   steps:   
    - name: Release
      id: create_release
      uses: actions/create-release@latest
      env:
       GITHUB_TOKEN: ${{ secrets.DRAFTER_TOKEN }}
      with:
       tag_name: release
       release_name: release
       body: Todayçš„release
       draft: false
       prerelease: false